# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

oda:
  use_hostpath: true

  crux: http://crux.staging-1-3.internal.odahub.io@default

  ddaQueue: default

  # location for individual worker scratch 
  # can be any temporary directory. even inside container
  worker_scratch: /scratch/workers/oda/

  # location of mirror of INTEGRAL data. will be updated as analysis runs
  # needs to be shared (mounted or mirrored) between pods
  isdc_mirror: /isdc

  # location of semi-persistent data
  # needs to be shared (mounted or mirrored) between pods
  ic_collection_mirror: 

  ddcache: 

  resources: 

# service itself
replicaCount: 1

# passive workers, reserving resources for  realtime processing
replicaCountPassive: 0

image:
  repository: odahub/dda
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

podSecurityContext: {}
  # fsGroup: 2000

securityContext: #{}
  # capabilities:
  #   drop:
  #   - ALL
  #readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: true
  annotations: #{}
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
  - host: in.internal.odahub.io
    paths:
    - /staging-1.3/dda(/|$)(.*) # set environment from elsewhere
  - host: in.odahub.io
    paths:
    - /staging-1.3/dda(/|$)(.*)

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: 
   limits:
     cpu: 2000m
     memory: 16384Mi
   requests:
     cpu: 300m
     memory: 512Mi

nodeSelector: {}

tolerations: []

affinity: {}


allocate_volumes:
  - name: data-resources
    size: 1G

  - name: data-reduced-ddcache
    size: 30G
    access_mode: ReadWriteMany # example, not currently needed

  - name: isdc-arc-rev3
    size: 30G

  - name: ic-collection
    size: 10G

  - name: isdc-pvphase-nrt-ops
    size: 10G
  
  - name: dda-interface-scratch
    size: 40G
  
  - name: dda-filelogdir
    size: 5G

